.iconTitleDiv {
  width: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-right: 0.1px solid;
  justify-content: center;
}

.collTitle {
  width: 100%;
  height: 15%;
  text-align: center;
  margin-top: 5px;
  border-bottom: 0.1px solid;
}

.costInput {
  width: 100%;
  height: 100%;
  border-bottom: 0.1px solid;
  align-self: center;
  justify-self: center;
  text-align: center;
}
